div[class*="max-h_var(--layout-height-message-box)"] .material-symbols-outlined {
  color: #b7bdf8 !important;
}

div[class*="max-h_var(--layout-height-message-box)"] button:hover .material-symbols-outlined {
  color: #cdd6f4 !important;
}

div[class*="max-h_var(--layout-height-message-box)"] .material-symbols-outlined[style*="color"] {
  color: #b7bdf8 !important;
}

button[data-avia-voice-btn="true"] { --colour: #b7bdf8; } button[data-avia-voice-btn="true"] .material-symbols-outlined { color: var(--colour) !important; }

button[data-avia-search-btn="true"] { --colour: #b7bdf8; }
button[data-avia-search-btn="true"] .material-symbols-outlined { color: var(--colour) !important; }